In [1]:

import pandas as pd
import numpy as np

In [26]:
data_h1b=pd.read_csv('h1b_kaggle.csv')

In [3]:
data_h1b.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [29]:
data_h1bs=data_h1b.sample(n=2000)

In [27]:
s=data_h1b.isnull()

In [31]:
data_h1b..count()

Unnamed: 0            2000
CASE_STATUS           2000
EMPLOYER_NAME         2000
SOC_NAME              1990
JOB_TITLE             2000
FULL_TIME_POSITION    2000
PREVAILING_WAGE       2000
YEAR                  2000
WORKSITE              2000
lon                   1936
lat                   1936
dtype: int64

In [37]:
frame=pd.DataFrame({'序号':[1,2,3,4],'姓名':['张三','李四','李磊','韩梅'],'成绩':['B','C','A','A'],'年龄':[20,21,25,None],'身高':[175,None,None,None]})

In [40]:
frame

   序号  姓名 成绩    年龄     身高
0   1  张三  B  20.0  175.0
1   2  李四  C  21.0    NaN
2   3  李磊  A  25.0    NaN
3   4  韩梅  A   NaN    NaN

在这个假设的数据集中我们要怎么操作呢？首先我

In [46]:
print(frame.isnull().sum(axis=0)) #纵向统计有多少缺失
print(frame.isnull().sum(axis=1)) #横向统计有多少缺失

序号    0
姓名    0
成绩    0
年龄    1
身高    3
dtype: int64
0    0
1    1
2    1
3    2
dtype: int64